*{
    margin: 0;
    padding: 0;

}

html,body{
    box-sizing: border-box;
}

#logo{
    width: 60px;
    margin-left: 30px;
    margin-top: 10px;

}


body{
    background-color: black;
}


#home{
    color: white;
    width: 40px;
    margin-left: 30px;
    margin-top: 10px;
    height: 60px;
}

input{
    margin-top: 0px;
}

nav{
    display: flex;
}

.nav{
    display: flex;
}

.img{
    display: flex;
}

.search{
    margin-top: 15px;
    margin-left: 40px;
    background-color: rgba(128, 128, 128, 0.224);
   
    width: 30rem;
    border-radius: 40px;
    height: 3rem;
}

input{
    margin-top: 0px;
    width: 15rem;
    border: none;
    outline: none;
    color: black;
    margin-left: 5px;
    font-size:medium;
    background-color: transparent;
    color: white;
    align-self: center;
}
    

input::placeholder{
    color:white ;
    font-size: larger;
    
}

button{
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 1px;
   margin-top: 7px;

}



svg{
    width: 50px;
    margin-left: 0px;
    margin-top: 1px;
  align-items: center; 
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



#permiumbtn{
    background-color: white;
    color: black;
    width: 10rem;
    height: 35px;
    border-radius: 8px;   
    font-size: medium;
    font-weight: bold;
}

.primium{
margin-left: 7rem;
margin-top: 18px;

}


#bell{
    margin-left: 100px;
}


#account{
   background-color:rgba(128, 128, 128, 0.224);
   border-radius: 50px;
   width: 3rem;
   height: 3rem;
   margin-top: 15px;
   margin-left: 40px;
   
}



   

p {
    background-color:pink;
    align-items: center;
    width: 2.3rem;
    margin-left: 0.38rem;
    border-radius: 50px;
    height: 2.2rem;
    align-content: center;

}


.main{
    display: flex;
    flex-wrap: 1;
    margin-top: 20px;

}



.fristbox{
    background-color:grey;
    margin-left: 4px;
    width: 15rem;
   border-radius: 5px;
   display: flex;
   justify-content:space-evenly;
}

.fristbox,h2{
    color:white;
    margin-top: 5px;
   margin-left: 4px;
   font-size: large;
   font-weight: 900;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.secondbox{
    background-color: blue;

  width: 40rem;
  margin-left: 20px;
  border-radius: 5px;
}


.box3
{
  background-color: blueviolet;
  width: 16.5rem;
  margin-left: 20px;
  border-radius: 5px;
  
}


svg{
    color: black;
}


.side{
    visibility: hidden;
    margin-left: 1px;
    margin-top: 1px;
   
}

.playlist{
    display: flex;
    width: 28rem;
    height: 4rem;
    margin-left: 15px;
    margin-top: 15px;
   
    border-radius: 5px

}

.playlist:hover {
       background-color:rgba(128, 128, 128, 0.3);
}


#link{
  display: flex;
  list-style: none;
  text-decoration: none;
}

h3{
    font-size: medium;
     color: black;
}
 



.alertmsg{
    width: 30rem;
    position: absolute;
    margin-top: 40px;
    margin-left: 40rem;
    z-index:  10000;
    background-color:rgba(34, 33, 33, 0.844);
    border-radius: 5px;
    border: 2px 5px 8px ;
    height: 17rem;
    display: none;
    
}

#blenklink{
    display: flex;
    list-style: none;
    text-decoration: none;
   
}

.blind{
    
    display: flex;
    width: 28rem;
    height: 4rem;
   
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
}

.blind:hover{
     background-color:rgba(128, 128, 128, 0.3);

}

hr{
   width: 30rem;
   height: 0.1rem;
   color: black;
   margin-top: 10px;
}


#folder1{
 display: flex;
      display: flex;
    width: 28rem;
    height: 4rem;
  
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
}

 #folder1:hover{
      background-color:rgba(128, 128, 128, 0.3);
 }
 
#blind1{
    display: flex;
}

#folderlink{
    text-decoration: none;
    list-style: none;
}


.show-popup {
    display: block !important; 
}