*{
    margin: 0;
    padding: 0;

}

html,body{
    box-sizing: border-box;
}

#logo{
    width: 60px;
    margin-left: 30px;
    margin-top: 10px;

}


body{
    background-color: black;
}


#home{
    color: white;
    width: 40px;
    margin-left: 30px;
    margin-top: 10px;
    height: 60px;
}

input{
    margin-top: 0px;
}

nav{
    display: flex;
}

.nav{
    display: flex;
}

.img{
    display: flex;
}

.search{
    margin-top: 15px;
    margin-left: 40px;
    background-color: rgba(128, 128, 128, 0.224);
   
    width: 30rem;
    border-radius: 40px;
    height: 3rem;
}

input{
    margin-top: 0px;
    width: 15rem;
    border: none;
    outline: none;
    color: black;
    margin-left: 5px;
    font-size:medium;
    background-color: transparent;
    color: white;
    align-self: center;
}
    

input::placeholder{
    color:white ;
    font-size: larger;
    
}

button{
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 1px;
   margin-top: 7px;

}



svg{
    width: 50px;
    margin-left: 0px;
    margin-top: 1px;
  align-items: center; 
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



#permiumbtn{
    background-color: white;
    color: black;
    width: 10rem;
    height: 35px;
    border-radius: 8px;   
    font-size: medium;
    font-weight: bold;
}

.primium{
margin-left: 7rem;
margin-top: 18px;

}


#bell{
    margin-left: 100px;
}


#account{
   background-color:rgba(128, 128, 128, 0.224);
   border-radius: 50px;
   width: 3rem;
   height: 3rem;
   margin-top: 15px;
   margin-left: 40px;
   
}



   

p {
    background-color:pink;
    align-items: center;
    width: 2.3rem;
    margin-left: 0.38rem;
    border-radius: 50px;
    height: 2.2rem;
    align-content: center;

}


.main{
    display: flex;
    flex-wrap: 1;
    margin-top: 20px;

}



.fristbox{
    background-color:rgb(18, 18, 18);
    margin-left: 4px;
    width: 20rem;
   border-radius: 5px;
   height: 35rem;
   justify-content:space-evenly;
}

.fristcoloum{
    display: flex;
}

.fristbox,h2{
    color:white;
    margin-top: 5px;
   margin-left: 4px;
   font-size: large;
   font-weight: 900;    
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.secondbox{
    background-color: #8679da;
    width: 40rem;
    margin-left: 20px;
    border-radius: 5px;
}


.box3
{
  background-color: rgb(18, 18, 18);
  width: 16.5rem;
  margin-left: 20px;
  border-radius: 5px;
  
}


svg{
    color: black;
}


.side{
    visibility: hidden;
    margin-left: 1px;
    margin-top: 1px;
   
}

.playlist{
    display: flex;
    width: 24rem;
    height: 3.5rem;
    margin-left: 10px;
    margin-top: 15px;
   
    border-radius: 5px

}

.playlist:hover {
       background-color:rgb(62, 62, 62);
}


#link{
  display: flex;
  list-style: none;
  text-decoration: none;
}

h3{
    font-size: medium;
     color: black;
}
 



/* Fixed Alert Message */
.alertmsg{
    width: 25rem;               /* Set to your 30rem requirement */
    position: absolute;
    margin-top: 40px;
    margin-left: 10rem;
    z-index: 1000;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    border: 1px solid #555;     /* Fixed syntax */
    height: auto;               /* Better than fixed 15rem */
    min-height: 10rem;
    display: none; 
    padding: 15px;              /* Added so text doesn't touch the edge */
}

#blenklink{
    display: flex;
    list-style: none;
    text-decoration: none;
   
}

.blind{
    
    display: flex;
    width: 24rem;
    height: 3.5rem;
   
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 15px;
}

.blind:hover{
     background-color:rgb(62, 62, 62);

}

hr{
   width: 24rem;
   height: 0.1rem;
   color: black;
   margin-top: 10px;
   margin-left: 10px;
}


#folder1{

      display: flex;
    width: 24rem;
    height: 3.5rem;
  
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

 #folder1:hover{
      background-color:rgb(62, 62, 62);
 }
 
#blind1{
    display: flex;
}

#folderlink{
    text-decoration: none;
    list-style: none;
}


.show-popup {
    display: block !important; 
    
}




.buttonlist {
    display: flex;          /* Aligns buttons in a row */
    gap: 8px;               /* Space between buttons */
    padding: 10px 20px;     /* Space inside the container */
    overflow-x: auto;       /* Allows scrolling if buttons are too wide */
    white-space: nowrap;    /* Prevents buttons from jumping to the next line */
    justify-content: space-around;
}

.buttonlist button {
    background-color: #2a2a2a; /* Dark gray (Smoky Black) */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;    /* Makes them pill-shaped */
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonlist button:hover {
    background-color: #3e3e3e; /* Lighter gray on hover */
}


/* Add this to your CSS for the parent container of pop and screen */
.icon-container {
    display: flex;
    justify-content: flex-end; /* Pushes both to the right */
    gap: 20px;                 /* Perfect 20px space */
    padding-right: 2rem;       /* Space from the very edge */
}


#artistsbtn{
    margin-left: 20px;
}

#Albumbtn{
    margin-left: 20px;
}


.boxlove {
    margin-top: 50px;
    margin-left: 50px;
    border: 2px solid white;
    width: 8.5rem;
    height: 8.5rem;         /* Added height to match width */
    
    /* Centering Logic */
    display: flex;         /* MUST have this for centering to work */
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
background: linear-gradient(135deg, 
            #24b4fb 0%,   /* Blue starts at the very top-left */
            #8e2de2 52%,  /* Purple hits its full strength in the middle */
            #ffffff 100%  /* White fades in at the bottom-right */
);
    border-radius: 5px;    /* Makes it a perfect circle */
    cursor: pointer;
}

#lovesvg {
    /* No need for justify-content here anymore */
    width: 50px;           /* Adjust icon size as needed */
    height: 50px;
    fill: white;           /* Ensures the heart is white */
}

#lovesvg{
    width: 50px;           /* Adjust icon size as needed */
    height: 50px;
    fill: white;
    
}

.lovebox{
    display: flex;
}

.p{
    margin-top: 50px;
    margin-left: 30px;
    font-size: x-large;
    color:white;
}

#bold{
    font-size:4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.full{
    margin-left: 25px;
}


#linkid{
    font-size: 20px;
    color: white;
    display: flex;
    text-decoration: none;
}

h5{
    margin-left: 3px;
    margin-top: 2px;
    text-decoration: none;
    list-style: none;
}


#linkid:hover{
    text-decoration: underline;
}